@charset 'UTF-8';

/*
 * Reset margins and paddings
 */
body,
ul,
ol,
li,
figure,
img,
h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}



section[data-route] {
	display: none;
}
section.visible {
	display: block;
}
